name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *" # প্রতি ১২ ঘণ্টা অন্তর রান হবে
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: mrahad0
          # আউটপুট ফাইলটি কোথায় সেভ হবে তা নির্দিষ্ট করে দেওয়া হয়েছে
          svg_out_path: dist/pacman-contribution-graph.svg

      - name: push pacman-contribution-graph.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
